:root {
  --transition: 0.4s ease-in;
  --cor-texto-navbar: #fff;
  --cor-gradiente-inicio: #63ABFF;
  --cor-gradiente-fim: #120039;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

.texto {
  background: linear-gradient(to right, var(--cor-gradiente-inicio), var(--cor-gradiente-fim));
  padding-top: 1.5%;
  margin: 0;
  color: transparent;
  /* Faz o texto transparente para mostrar o gradiente de fundo */
  -webkit-background-clip: text;
  /* Permite o uso do gradiente como clip para o texto no Safari */
  background-clip: text;
  /* Permite o uso do gradiente como clip para o texto */

  /* Adiciona propriedades para centralizar verticalmente o texto */
  display: flex;
  align-items: center;
}

.cabecalho {
  background: linear-gradient(261deg, #000 28.52%, #005E92 152.72%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  background: rgba(255, 255, 255, 0);
  /* O valor 0.5 no canal alfa indica 50% de opacidade, ajuste conforme necessário */
}

.navbar a{
  color: #fff;
}