:root {
    --transition: 0.4s ease-in;
}

html {
    scroll-behavior: smooth;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }

  .retangulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #001C2C;
    border-radius: 10px;
    padding: 20px 40px;
  }

  .botao__login:hover {
    background-color: #6f60e6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 10s;
  }

  .botao__login:active {
    background-color: #ffffff; /* Cor de fundo quando pressionado */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra quando pressionado */
    transform: translateY(2px); /* Efeito de deslocamento quando pressionado */
  }

  .botao__login{
    background-color: #ffffff;
    border-radius: 24px;
    padding: 1em 8em;
    text-decoration: none;
    color: #0075FF;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    font-family: var(--fonte-padrao);
    font-weight: 600;
    transition: background 1s;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; /* ou ajuste conforme necessário */
    margin: 0 auto; /* centraliza o botão */
  }

  /* Style Input */
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1.1em 0;
    max-width: 45.5em;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);

  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color:#001C2C;
    border-radius: 50px;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(163, 170, 255);

  }
  /* fim input*/


.center_input{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto_login {
  max-width: 100%;
  height: auto;
}

  .iframe {
    z-index: 1;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.links{
  display: flex;
  flex-direction: column;
  
}

.geral {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagens{
  padding-right: 5em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #ffffff;
  background: linear-gradient(261deg, #000 28.52%, #005E92 152.72%);
}

.footer-icons {
  padding-top: 14px;
  display: flex;
  gap: 14px;
  justify-content: center;
}

i {
  color: #ffffff;
}