:root {
    --transition: 0.4s ease-in;
}

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }

.retangulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 330px;
    background-color: #b0b0b0;
    border-radius: 10px;
    padding: 20px 40px;
    margin-left: 20px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .carrossel {
    
    width: 400px;
    height: 300px;
  }


  .btn{
    margin: 20px;
    width: 180px;
    height: 45px;
  }

  .informacao{
    margin: 10px;
  }

  .ambientes h1{
    color: aliceblue;
  }

  .ambientes{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .container-fluid{
    background: linear-gradient(261deg, #000 1.52%, #005E92 52.72%);

    
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  section {
    column-count: 3;
    column-gap: 5px;
  }