:root {
  --transition: 0.4s ease-in;
  --cor-texto-navbar: #fff;
  --cor-gradiente-inicio: #63ABFF;
  --cor-gradiente-fim: #120039;
}


img {
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

.texto {
  background: linear-gradient(to right, var(--cor-gradiente-inicio), var(--cor-gradiente-fim));
  padding-top: 1.5%;
  margin: 0;
  color: transparent;
  /* Faz o texto transparente para mostrar o gradiente de fundo */
  -webkit-background-clip: text;
  /* Permite o uso do gradiente como clip para o texto no Safari */
  background-clip: text;
  /* Permite o uso do gradiente como clip para o texto */

  /* Adiciona propriedades para centralizar verticalmente o texto */
  display: flex;
  align-items: center;
}

.cabecalho {
  background: linear-gradient(261deg, #000 28.52%, #005E92 152.72%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  background: rgba(255, 0, 0, 0);
  /* O valor 0.5 no canal alfa indica 50% de opacidade, ajuste conforme necessário */
}

.navbar a {
  color: #fff;
}


.carroyceu {
  width: 500px;
  padding: 0px 15px 0px 0px;
}

.retangulo {
  background: #cfcfcf;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0px 0px 18px 10px;
  -webkit-box-shadow: 9px 6px 17px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 6px 17px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 6px 17px -7px rgba(0, 0, 0, 0.75);
}

.info__quarto {
  width: 250px;
}

.info__quarto h3 {
  margin-left: 35px;
}


.botao_reservar {
  width: 130px;
  margin-left: 35px;
}



.ambientes {
  background: linear-gradient(261deg, #000 1.52%, #005E92 52.72%);
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.ambientes h1 {
  color: aliceblue;
}

.imagens_sec {
  width: 100%;

  margin-bottom: 10px;
}

section {
  column-count: 3;
  column-gap: 5px;
}


